!!! 5
%html
  %head
    %title= [@page_title, 'publicbox'].compact.join(" | ")
    %link{href: '/publicbox.css', media: "screen", rel: "stylesheet", type: "text/css"}
  %body
    %header
      .container
        %h1
          PublicBox

    = yield

    %footer
      .container
        Built by
        %a{href: 'http://hmans.net'} Hendrik Mans
        &bull;
        %a{href: 'https://github.com/hmans/publicbox'} Fork me on GitHub
